# ESLint eklentilerini (react-hooks, @next/next vb.) kök node_modules'a hoist et.
# pnpm'in strict yapısında eslint-config-next eklentilerini çözebilmesi için gerekli.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*eslint-plugin*
